<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarqMetrix.Communications.Client" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Client.Abstractions" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Client.Direct" version="1.20.0-alpha-18101-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Client.Direct.Abstractions" version="1.20.0-alpha-18101-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Client.Extensions" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Client.Extensions.Abstractions" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Common" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Common.Abstractions" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Instruments" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Instruments.Abstractions" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Instruments.Client" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Instruments.Client.Abstractions" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Notifications" version="1.20.0-alpha-18050-03" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Notifications.Abstractions" version="1.20.0-alpha-18050-03" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Notifications.Client" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Notifications.Client.Abstractions" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Samples" version="1.20.0-alpha-18080-02" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Samples.Abstractions" version="1.20.0-alpha-18080-02" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Samples.Client" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Samples.Client.Abstractions" version="1.20.0-alpha-18081-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Security" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Security.Abstractions" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Security.Client" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Communications.Security.Client.Abstractions" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Data.Dictionaries" version="1.20.0-alpha-18050-01" targetFramework="net461" />
  <package id="MarqMetrix.Data.Json" version="1.20.0-alpha-18050-02" targetFramework="net461" />
  <package id="MarqMetrix.Data.Samples" version="1.20.0-alpha-18078-02" targetFramework="net461" />
  <package id="MarqMetrix.Data.Samples.Abstractions" version="1.20.0-alpha-18078-02" targetFramework="net461" />
  <package id="MarqMetrix.Data.Samples.Conversion.Json" version="1.20.0-alpha-18078-02" targetFramework="net461" />
  <package id="MarqMetrix.Data.Translation.Samples" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Data.Translation.Samples.Abstractions" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Data.Translation.Samples.Json" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Data.Translation.Samples.Json.Abstractions" version="1.20.0-alpha-18080-01" targetFramework="net461" />
  <package id="MarqMetrix.Math.Raman" version="1.20.0-alpha-18072-01" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0-preview1-final" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>